.live{
    height: 100%;
    width: 100%;
    background-color: #121212;
}
.mobileTest{
    max-width: 90%;
    margin: 0 auto;
}
.mobileContainer{
    overflow: scroll;
    position: relative;
    background-color: #fff;
    padding-bottom: 178%;
    border-radius: 19px;
}